Rails.application.config.api_key = <your_key_here>

Rails.application.config.fedora_connection = {
  :url => <url>, :user => <user>, :password => <password>
}

Rails.application.config.namespace_prefix = 'darc:' 